<?xml version="1.0"?>
<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 world odom " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="laser" args="0 0 0 1.57 0 0 base_link laser " />
    
    <arg name="bag_file_name" value="1"/>
    <node pkg="rosbag" type="play" name="player" args="-l --clock $(find robotics_second)/bags/$(arg bag_file_name).bag"/>

    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find robotics_second)/rviz/map_config.rviz"/>
    
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <param name="scan" value="scan"/>
        <param name="base_frame" value="base_link"/>
    </node>
</launch>